<div>
    <div class="h2 text-center mt-3">GSAP Angular Example</div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="test"></div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
</div>
<div class="h3 text-center mt-3">Animated box</div>
<div class="container-box section">
   
    <div class="box"></div>
</div>

<div class="h3 text-center mt-3">Draggable CSS</div>
<div class="section">
    
    <div id="drag"></div>
</div>